body {
  margin: 0;
}
div#header {
  background-color: #373737;
  color: #ffff;
  display: flex;
  margin: 0;
  padding: 0;
}
div#header h1 {
  margin-left: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
}
div#title h1 {
  font-size: 40px;
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
}
div#content {
  margin: 0;
  padding: 0;
}
td,tr {
  border: 1px solid gray;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  width: 100px;
}
div#space{
    margin:20px;
}
